# Ambiente Python
__pycache__/
*.py[cod]
*.so
*.dylib
*.pyd
*.egg-info/
.eggs/
build/
dist/
.python-version
.venv/
venv/
env/
ENV/
.venv

# Ferramentas e caches
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Dados gerados em tempo de execução
data/*.json
data/*.csv
data/clinic.db

# Configurações de IDE / Sistema
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
